body {
    background-color: rgb(1, 31, 75);
    font-family: 'Raleway', sans-serif;
}

.title {
    margin: 0px auto;
    border: 7px solid rgb(3, 57, 108);
    padding: 35 35 35 35;
    text-align: center;
    font-size: 60px;
    color: rgb(179, 205, 224);
}

.allblogtitles {
    color: rgb(100, 151, 177);
    text-align: center;
    border: 10px    solid   red;
}